.cardProduto{
   
    .container .carousel{
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        gap: 20px;
        overflow: hidden;
        
    }

    .container .carousel .card{
        width: 23.5%;
        height: 400px;
        border-radius: 20px;
        background-color: #e9e9e9;
        padding: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: none;
        box-shadow: 0px 0px 10px #0000004b;
        
        
    }


    .container .carousel .card:hover{
        transition: 0.7s ease;
        .Comp_button{
            margin-top: 0px;
            transition: 0.4s ease;
        }
    }
    .card .cima{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .card .baixo{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .line-prod{
        height: 1px;
        width: 100%;
        background-color: #000;

    }

    
    .card p{
        font-size: 18px;
        text-align: center;
        padding: 20px 0px;
        
    }

    .card h1{
        font-size: 22px;
    }

    .baixo_cima{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }


    .Comp_button{
        margin-top: 60%;
        width: 150px;
        height: 35px;
        border: none;
        border-radius: 15px;
        background-color: #00C2FF;
        cursor: pointer;
        transition: 0.4s ease;
    
    }

    .Comp_button:hover{
        border: 1px solid black;
        background-color: transparent;
        transition: 0.4s;
    }


}