

.progresso {
    max-width: 600px;
    margin: 0 auto;
  
    .titulo {
      text-align: center;
      margin-bottom: 20px;
  
      h1 {
        color: #333;
      }
    }
  
    .meio {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
  
      img {
        max-width: 100%;
        margin-bottom: 10px;
      }
  
      p {
        color: #666;
      }
  
      b {
        font-weight: bold;
      }
    }
  
    img {
      display: flex;
      max-width: 100%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  
    button {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #0056b3;
      }
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  