.progresso {

  width: 100%;

  margin: 0 auto;

  .titulo {
    text-align: center;
    margin-bottom: 20px;

    h1 {
      color: #333;
    }
  }

  .meio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;

    

    .imgg {
      height: 320px;

      margin-bottom: 10px;
    }

    p {
      color: #666;
    }

    b {
      font-weight: bold;
    }
  }

  .img {
      
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .img img {
    height: 70px;
  }

  .imgg{
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .divButt {
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons {
    display: flex;
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #508dce;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    .buttons:hover {
      background-color: #023872;
    }

    .buttons:last-child {
      margin-bottom: 0;
    }
  }
}