.criarConta {






  background-color: #000000;
  
  display: flex;
  flex-direction: column;

  
  .mensagem-erro-senha{

    font-size: 12px;
    color: red;
    margin-left: 10px;
    


  }

  .confima-senha-div{

    display: flex;
    align-items: flex-start;
    flex-direction: column;

  }

  .Link-cad-voltar {

    text-decoration: none;
    width: 260px;
    margin-top: 10px;
    height: 41px;
    
    border-radius: 8px;
    border: solid 1px rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    color: #ffffff;
    display: flex;

  }

  .cima {
    font-size: 30px;
    width: 100%;
    height: 200px;
    position: relative;
    flex-direction: column;

    background-image: url('../../../../public/assets/images/Rectangle 10.svg');
    
    background-size: cover;



  }

  .cima img {
    width: 100%;
  }

  .legenda {
    position: absolute;
    display: flex;
    align-self: center;
    justify-content: center;
    bottom: 20%;
    width: 100%;


  }

  .legenda h1 {
    margin: 0;
    color: white;

  }

  .baixo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 100%;


  }

  .p1 p {
    font-size: 20px;
    color: #d9d9d9;

  }

  .p1 hr {
    margin-top: 4px;
    color: rgb(134, 56, 56);
    height: 2px;
    margin-top: 10px;
  }

  .p2 {
    border-radius: 25px;
    width: 100%;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;

  }

  .p2>h1 {
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
  }

  .p2 div h1 {
    font-size: 14px;
    margin-top: 15px;
    padding-left: 5px;

  }

  .container1 {
    margin-top: 30px;
  }

  .container1 input {

    width: 350px;
    height: 45px;
    background-color: #000000;
    border-radius: 5px;

    outline: 0;
    color: rgba(255, 255, 255, 0.616);
    font-size: 16px;
    padding: 15px;
    border: 2px solid white;
  }



  .container1 input {

    margin: 10px;

  }


  .container2 {
    margin-top: 50px;
    display: flex;
  }

  .container2 input {

    margin: 10px;
    width: 350px;
    height: 45px;
    background-color: #000000;
    border-radius: 5px;
    outline: 0;
    color: rgba(255, 255, 255, 0.616);
    font-size: 16px;
    padding: 15px;
    border: 2px solid white;


  }


  .right {
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 303px;
    
    color: #f1e7e7;

  }


  .right button {
    width: 300px;
    height: 45px;
    font-size: 18px;
    color: #000000;
    background-color: #f1e7e7;
    border-radius: 25px;
    color: rgb(15, 15, 15);
    border: none;


  }

  .right button:hover {
    background-color: #f3f3f3b0;
    border: solid 2px #141010;
    transition: 0.5s;
    color: rgb(255, 255, 255);

  }


  .final {
    margin-left: 20%;
    font-size: 20px;
    margin-top: 5px;

  }

}