.cardaudio{

justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
}

.meioaudio{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 15px;
}