.aba-usuario {

    .superior {
        
        background: #EDEDED;
        box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.25);
       position: fixed;
        width: 100%;
        height: 28vh;


    }

    .options {
        height: 100vh;
        width: 30%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .f1-usuario{
        display: flex;
        height: 100%;
        flex-direction: row;
        align-items: end;
        background-color: gray;
    }

    .conteudo-option{
        
        background-color: #fff;
        width: 70%;
        height: 72vh;
       
    }

    .cima {
        margin-top: 30%;
        width: 100%;
        height: 165px;
        padding: 25px;
        border-top-right-radius: 100px;
        background-color: #00C2FF;
        display: flex;
        align-items: center;
        gap: 10px;

    }

    .line {
        width: 200px;
        height: 2px;
        background-color: #858585;
        position: relative;
        right: 10px;
    }


   

    .baixo img{
    height: 20px;    
    }

    ul{
        height: 100%;
        list-style-type: none;
        background-color: #D9D9D9;  
        padding: 0px;
      
    }

    ul li.item-menu{
        display: flex;
        transition: 0.4s ;

    }
   

    ul li.ativo{
        background-color: #00c3ff73;
    }


    ul li.item-menu:hover{
        background: #00c3ffaf ;
        
    }

   
    ul li.item-menu div{
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 30px;
        width: 100%;
        height: 100px;
        text-decoration: none;
        display: flex;
        font-size: 18px;       
    }

    ul li.item-menu div:hover{
        font-size: 20px;
        transition: 0.4s;
    }



    .buttons {
        margin-top: 0px;
    }

    .deslog-aba {

        margin-top: 55px;

    }















    






}