.aba-usuario {

    .superior {
        
        background: #EDEDED;
        box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.25);
       position: fixed;
        width: 100%;
        height: 28vh;


    }

    .options {
        height: 100vh;
        width: 30%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .f1-usuario{
        display: flex;
        height: 100%;
        flex-direction: row;
        align-items: end;
        background-color: gray;
    }

    .conteudo-option{
        
        background-color: #fff;
        width: 70%;
        height: 72vh;
       
    }

    .cima {
        margin-top: 30%;
        width: 100%;
        height: 165px;
        padding: 25px;
        border-top-right-radius: 100px;
        background-color: #00C2FF;
        display: flex;
        align-items: center;
        gap: 30px;

    }

    .line {
        width: 200px;
        height: 2px;
        background-color: #858585;
        position: relative;
        right: 10px;
    }


    .baixo {
    

        width: 100%;
        min-height: 70%;
        background-color: #D9D9D9;
      
    

    }

    .baixo img{
    height: 30px;
    padding-left: 30px;
    display: flex;
   
   
       
    }

    ul{
        height: 100%;
        list-style-type: none;
        
      
      
    }

    ul li.item-menu{
        transition: 0.4s ;

    }
   

    ul li.ativo{
        background-color: #00C2FF;
    }


    ul li.item-menu:hover{
        background: #00C2FF ;
      
       
       
    }

   
    ul li.item-menu a{
        color: black;
        text-decoration: none;
        font-size: 20px;
        padding: 20px 4%;
        display: flex;
        margin-bottom: 30px;
        line-height: 40px;
    }

    .link{
     font-size: 30px;
    }


    .buttons {
        margin-top: 0px;
    }

    .deslog-aba {

        margin-top: 55px;

    }















    






}