.comp_rodape{


    .roda{
        width: 100%;
        height: 30%;
        padding: 15px 0px;
        gap: 10px;
        background-color: #000;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }
    
    .sociais img{
        height: 35px}
        
    .contato img{
        height: 35px}
    
    .esq {
        text-align: start;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #ffffff9d;
        
    
    }
    
    
    .line{
        width: 2px;
        height: 200px;
        background-color: #fff;
    }
    
    .dir{
        display: flex;
        flex-direction: column;
        align-items: center; 
        color: #fff;
        gap: 10px;
        
    }
    
    .dir h1{
        font-size: 20px;
    }
    
    .contato{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .sociais{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 150%;
    }
    
    .logo{
        height: 100px;
    }
    
    
    .esq h1{
        font-size: 18px;
        color: #ffffff9a;
        text-decoration: underline black;}

    .esq h1:not(:last-child){
        margin-bottom: 10%;

    }
    
    
    
    .esq h1:hover{
        color: #fff;
        transition: 0.3s;
        cursor: pointer;
    }
    
    
    
    @media(max-width: 415px){
        
        .roda{
            flex-direction: column;
        }

        .line{
            width: 80%;
            height: 2px;
        }
        .esq h1{
            font-size: 14px;
        }

        .dir h1{
            font-size: 14px;
        }
        

        .logo{
            width: 70px;
        }

        .contato img{
            height: 25px;
        }

        .sociais img{
            height: 25px;
        }

        
    }

    

    
    
    
    
    
    }

    


  