.Carrinho-page{
    
   
    
    .contPrincipal {
    
        width: 100%;
        height: 100vh;
        margin-top: 10px;
        padding: 30px;
        gap: 20px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
   
    .conteiner {

        background-color: #f5f5f5;
        box-shadow: 0px 0px 10px #b4b4b4;

        display: flex;
        flex-direction: column;
        padding: 5px;
        
        

        
        width: 75%;
        height: 90vh;
    }


    .conteiner2 {
    
        background-color: #f5f5f5;
        box-shadow: 0px 0px 10px #b4b4b4;
        

        width: 25%;
        height: 90vh;

        display: flex;
        flex-direction: column;
        
    }

    .Direita {
        
        display: flex;
        flex-direction: column;
        padding: 10px;
        overflow-y: hidden;
        
        height: 80vh !important;



    }

    .conteudo2 {
        
        display: flex;
        
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        width: 100%;
        height: 100%;
        gap: 20px;
        

    }

    

    .baixo2 {
        
        background-color: #ffffff;
        box-shadow: 0px 0px 10px #b4b4b4;
        height: 95%;
        padding: 20px;
        gap: 40px;
        color: #00c3ff;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    }

    .p {
        
        color: greenyellow;
        font-size: 18px;
    }

    .butt-carrinho {
        
        background-color: #00c3ff;
        width: 95%;
        height: 30px;
        box-shadow: none;
        border: none;
    }

    
        
    
    }