.Carrinho-page{

    
    section{
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 20px;
       }
    
       .BAIXO{
        display: flex;
        align-items:center ;
        justify-content:space-between;
        flex-direction: row;
    
     
        background-color: rgb(80, 80, 80);
        padding: 10PX;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 110px;
        div{
              align-items: center;
            justify-content: center;
            gap: 5px;
            display: flex;
        }
        div>div{gap: 20px;
          
    }
        p{
            color: #fff;
            font-size: 20px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
        }
    
        h1{
            color:#00C2FF;
            font-size: 30px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
        }
        .box{
            background-color: transparent;
        }
    
        .tirar{
    
            padding: 5px;
            border-radius: 10px;
            width: 180px;
            border: none;
            margin-top: 10px;
            background-color: #00C2FF;
            color: #fff;
            font-size: 16px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            cursor: pointer;
            transition: 0.4s ease;
            height: 50px;
        }
    
        .tirar:hover{
    
            background-color: #b4b4b4;
            border: solid 1px;
            color: #000000;
            transition: 0.4s ;
        }
        }

}


