.Carrinho-page {



    .contPrincipal {

        width: 100%;
        height: 100vh;
        margin-top: 10px;
        padding: 30px;
        gap: 20px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .conteiner {

        background-color: #f5f5f5;
        box-shadow: 0px 0px 10px #b4b4b4;
        display: flex;
        flex-direction: column;
        padding: 5px;
        width: 100%;
        height: 90vh;
    }




    .conteiner2 {

        background-color: #f5f5f5;
        box-shadow: 0px 0px 10px #b4b4b4;


        width: 25%;
        height: 90vh;

        display: flex;
        flex-direction: column;

    }

    .Direita {

        display: flex;
        flex-direction: column;
        height: 85vh;
        padding: 10px;

        overflow-y: auto;


    }


    .Direita::-webkit-scrollbar {
        width: 5px;
    }

    .Direita::-webkit-scrollbar-track {
        background: #f1f1f1;
        width: 10px;
    }

    .Direita::-webkit-scrollbar-thumb {
        background: #b9b9b9;
        border-radius: 10px;
    }

    .Direita::-webkit-scrollbar-thumb:hover {
        background: #bebebe;
    }

    .conteudo {

        display: flex;
        overflow-y: hidden;

    }

    .conteudo2 {

        display: flex;

        justify-content: center;
        flex-direction: column;
        padding: 10px;

        height: 100%;
        gap: 20px;


    }



    .baixo2 {

        background-color: #ffffff;
        box-shadow: 0px 0px 10px #b4b4b4;
        height: 95%;
        padding: 20px;
        gap: 40px;
        color: #3bd1ff;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .p {

        color: rgb(224, 63, 63);
        font-size: 18px;
    }

    .butt-carrinho {

        background-color: #3bd1ff;
        width: 95%;
        height: 30px;
        box-shadow: none;
        border: none;
        transition: 0.4s ease;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    }

    .butt-carrinho:hover {

        border: solid 1px;
        color: #3bd1ff;
        transition: 0.3s;
        background-color: #ffff;


    }

    @media(max-width:1500px) {

        .butt-carrinho {

            background-color: #00c3ff;
            width: 95%;
            height: 40px;
            box-shadow: none;
            border: none;
        }

    }

    @media(max-width:752px) {
        .conteiner {

            background-color: #f5f5f5;
            box-shadow: 0px 0px 10px #b4b4b4;
            display: flex;
            flex-direction: column;
            padding: 5px;
            width: 75%;
            height: 90vh;
        }


    }


    @media(max-width:752px) {
        .conteiner2 {

            background-color: #f5f5f5;
            box-shadow: 0px 0px 10px #b4b4b4;
            display: flex;
            flex-direction: column;
            padding: 5px;
            width: 75%;
            height: 90vh;
        }


    }

    @media(max-width:420px){
        .contPrincipal{
            display: flex;
            flex-direction: column-reverse;
        }
    }

    

   


}