.pagina-perfil-usuario {

    background-color: #F0F0F0;


    .abazinha {

        display: flex;
        align-items: end;
        height: 100vh;
        width: 100%;


    }


    .faixa-cinza {

        
        background: #EDEDED;
        box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.25);

        width: 100%;
        height: 170px;

    }


}