


.prin{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://images.pexels.com/photos/3721941/pexels-photo-3721941.jpeg?cs=srgb&dl=pexels-daniel-reche-3721941.jpg&fm=jpg');
    background-size: cover;

  
   .win{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background: #000;
    border: 3px solid #333;
    border-radius: 10px;
    transition: 1s;
   }

   .win:hover{
    border: 5px solid #0ef;
    box-shadow: 0 0 20px #12adf9, inset 0 0 20px #12adf9;
   }

   h2{
    font-size: 2em;
    text-align: center;
    color: #fff;
    transition: 1s;

  }

  .win:hover h2{
    color: #12adf9;
  }

   .inputbox{
    position: relative;
    width: 320px;
    padding: 20px 0;
   }

   .inputbox {
    position: relative;
    padding: 12px 0;
}

.inputbox label {
    position: absolute;
    top: 25%;
    left: 17px;
    transform: translatey(30%);
    font-size: 16px;
    color: #ffffff;
    padding: 0 5px;
    pointer-events: none;
    transition: .6s;
}

.inputbox input {
    width: 400px;
    height: 60px;
    font-size: 16px;
    color: #ffffff;
    padding: 0 15px;
    background: transparent;
    border: 1.2px solid #ffffff;
    outline: none;

    border-radius: 10px;
}



.inputbox input:focus~label,
.inputbox input:valid~label {
    top: 0;
    color: #12adf9;
    font-size: 12px;
    background: #000;


}

.inputbox input:focus,
.inputbox input:valid {
    border: 1px solid #12adf9;
    transition: 0.7s;
}


   .inputbox input{
    width: 100%;
    height: 50px;
    background: rgb(102, 101, 101);
    border: 2px solid #333;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    color: #fff;
    padding: 10px 15px;
    transition: 1s;
   }

   .win:hover .inputbox input{
    border: 2px solid #12adf9;
    box-shadow: 0 0 15px #12adf9, inset 0 0 5px #12adf9;

   }


   .inputbox input::placeholder{
    color: rgba( 255, 255, 255, .3);
   }


   button{
    position: relative;
    width: 80%;
    margin-top: 20px;
    height: 45px;
    background: #333;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transition: 1s;
   }

   .win:hover button{
    background: #12adf9;
    color: #000;
    box-shadow: 0 0 20px;
   }











}