.conteinerprincipal{

    align-items: center;
    justify-content: center;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .cardusuario{

        height: 30%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        flex-direction: row;



    }









}