.pageAdm {

    display: flex;

    .lateral-menu {
        height: 100vh;
        width: 20%;
        background-color: #D9D9D9;
    }

    .lateral-menu>div {
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        transition: 0.8s;
    }

    .lateral-menu:hover{
        color: #0fbbff;
    }

    .baixo img {
        height: 20px;
    }

    .baixo {
        height: 75%;
        list-style-type: none;

        padding: 0px;

    }

    ul li.item-menu {
        display: flex;
        transition: 0.4s;
        cursor: pointer;

    }


    ul li.ativo {
        background-color: #00c3ff73;
    }


    ul li.item-menu:hover {
        
        background: #00c3ffaf;

    }


    ul li.item-menu div {
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 30px;
        width: 100%;
        height: 80px;
        text-decoration: none;
        display: flex;
        font-size: 16px;
    }

    ul li.item-menu Link {
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 30px;
        width: 100%;
        height: 100px;
        text-decoration: none;
        display: flex;
        font-size: 16px;
    }

    ul li.item-menu div:hover {
        font-size: 17px;
        transition: 0.4s;
    }
















    ////////////////////////////////////////////////////////////////////////////////////////////////////


    .Modais {
        margin: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .consultaProd.abrir {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;


        .produtos {
            overflow-y: auto;
            scroll-behavior: smooth;
            display: flex;
            height: 80%;
            flex-direction: column;
            padding: 15px;
        }

        .cima {
            height: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24px;
            padding: 0 30px;


        }

        .cima h1 {
            font-size: 33px;
            transition: 1s;
        }

        .cima h1:hover {
            color: #00c3ff73;
            font-size: 34px;
            
            
        }

        .cima input {
            padding: 0 10px;
            width: 300px;
            height: 40px;
            border-radius: 5px;
            transition: 0.7s;
            outline: 0;
            border: 2px solid #918f8f;
        }

        .cima input:hover {
            box-shadow: 0 0 10px #0fbbff, inset 0 0 2px #3b3b3b
        }


        .baixo {
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 15px;

            .card {
                width: 80%;
                height: 200px;
                display: flex;
                border: 1px solid black;
                border-radius: 15px;
                padding: 10px;
            }

            .linecard {
                height: 180px;
                width: 1px;
                background-color: black;
            }

            .card .imgProd {
                width: 25%;
                height: 100%;
            }

            .card .imgProd img {
                width: 100%;
                height: 100%;
            }

            .card .especificacao {
                padding: 20px;
                width: 80%;

            }

            .card .especificacao .baixo {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }


            .dir {
                display: flex;
                flex-direction: column;
                gap: 10px;

            }

            .dir img {

                cursor: pointer;
            }

        }

    }

    .consultaProd {
        display: none;
    }



    ///////////////////////////////////////////////////////////////////////////////////////////////////////////

    .addProduto.abrir {
        display: flex;
    }

    .addProduto {

        background-color: rgb(240, 240, 240);
        height: 100vh;
        width: 100%;
        display: none;
        align-items: center;
        justify-content: center;


        .numeroId::-webkit-inner-spin-button {

            display: none;
        }

        .conteudo2 {

            display: flex;

        }

        .contPrincipal2 {

            width: 50%;

            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

        }

        .contPrincipal {

            display: flex;
            flex-direction: column;

            width: 50%;

        }

        .consultaCont {

            display: flex;
            align-items: end;

            height: 140px;
            width: 80%;


        }

        .miniconsulta {

            display: flex;

            flex-direction: column;
            justify-content: end;

            width: 100%;



        }

        tbody {
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: #d8d8d8;

        }

        table {

            width: 100%;




        }

        thead {

            background-color: rgb(0, 174, 255);
            height: 40px;

            display: flex;
            align-items: center;
            justify-content: center;

        }

        .headzinhaconsulta {

            display: flex;
            justify-content: space-between;
            width: 100%;


        }



        tr {

            display: flex;
            justify-content: space-between !important;
            flex-wrap: nowrap;


        }

        .Cabecalho {

            width: 100%;
            height: 80px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 0px 10px #b4b4b4;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 120px 0px;
            font-size: 16px;


        }

        .imageminput {

            width: 90%;
            height: 220px;



            display: flex;

            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .imageminput input {

            border: 1px solid rgb(196, 196, 196);
            outline: none;
            padding-left: 5px;

            display: flex;

            width: 33.5%;


        }


        .inputdeimagem {

            width: 167.5px;
            height: 190px;
            border: 1px solid rgb(196, 196, 196);

            display: flex;
            align-items: center;
            justify-content: center;

            transition: 0.3s;

        }

        .imgaem-Upload {

            width: 100%;
            height: 180px;
        }

        .imagemUpload {

            width: 60px;
            height: 60px;

        }

        .inputdeimagem:hover {

            border: 1px solid rgb(0, 204, 255);

        }

        #imagemProduto {

            visibility: hidden;
            position: absolute;

        }

        .Foto {

            width: 45px;
            height: 45px;
            background-color: rgb(0, 204, 255);
            border-radius: 100%;

            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 20px;
            color: white;


            display: flex;
            align-items: center;
            justify-content: center;

        }

        .Container {

            background-color: rgb(255, 255, 255);
            box-shadow: 0px 0px 10px #b4b4b4;

            width: 90%;
            height: 450px;

            padding: 10px;

            display: flex;
            flex-direction: column;

        }

        .conteudo {

            padding: 0px 30px 0px;

        }

        .apresentacao {

            display: flex;
            align-items: center;


            gap: 5px;



        }


        .azul {

            width: 5px;
            height: 20px;
            background-color: rgb(0, 204, 255);

        }


        .inputsgeral {

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            margin-top: 90px;
            padding: 0px 35px 0px;


        }

        .inputs {

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0px 20px 10px;

            gap: 20px;
        }

        .inp-d textarea {

            box-shadow: none;
            outline: none;
            border: 1px solid rgb(201, 201, 201);
            width: 160px;
            height: 95px;
            padding-left: 10px;
            resize: none;
            display: flex;
            justify-content: flex-start;
            align-items: start;
            flex-wrap: wrap;

        }

        .inp input {

            box-shadow: none;
            outline: none;
            border: 1px solid rgb(201, 201, 201);
            width: 160px;
            height: 24px;
            padding-left: 10px;

        }

        .inputs select {

            width: 120px;
            outline: none;
            border: 1px solid rgb(201, 201, 201);
            padding-left: 10px;

        }



        #options:focus {

            outline: none;
            background-color: #b4b4b4;
            text-decoration: none;


        }


        .butt {

            margin-top: 30px;
            height: 40px;
            width: 95%;

            display: flex;
            justify-content: space-between;


        }

        .Salvar {

            background-color: rgb(0, 174, 255);
            border-radius: 5px;
            color: white;

            height: 40px;
            width: 130px;
            font-size: 18px;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

        }


        .Links {

            text-decoration: none;
            color: white;
            font-size: 13px;

        }



    }

    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    
    .statusProd{
        display: none;
    }

    .statusProd.abrir{
        display: flex;


        .cardPedi {
            width: 900px;
            height: 300px;
            padding: 15px;
            background-color: #dfdfdf;
            box-shadow: 0px 0px 5px #b4b4b4;
            border-radius: 10px;
            gap: 10px;
            display: flex;
            flex-direction: column;
        }

        .cardPedi .cima{
            display: flex;
            height: 20%;
            justify-content: space-between;
        }

        .subcard{
            width: 100%;
            height: 80%;
            border-radius: 10px;
            background-color: #fff;
            padding: 15px;
            display: flex;
        }


        .subcard :first-child{
            width: 25%;
            height: 100%;
        }

        .subcard :first-child img{
            width: 100%;
            height: 100%;
        }

        .subcard .dir{
            width: 80%;
            height: 100%;
            padding: 0px 10px;
        }

        .subcard .infoPedi{
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: space-between;
        }

        .subcard .infoPedi div{
            width: 50%;
            height: 100%;

        }

        .subcard .infoPedi :last-child h1{
            text-align: end;
        }

        .subcard .infoPedi div h1{
            width: 100%;
            
        }

        .subcard .buttons{
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: space-between;

        }

        .subcard .buttons select,button{
            width: 150px;
            transition: 0.5s;
            height: 35px;
            outline: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid black;
            border-radius: 10px;
            background-color: transparent;
            cursor: pointer;
        }

      


        
        


    }

}