.CompProduto {

    .CompProd-f1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #d9d9d9;
        width: 100%;
        height: 700px;
        padding: 30px;
       
      
    }

    .Card{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 15px;
        background-color: #fff;
        padding: 15px;
        border-radius: 20px;
   }


   
    .Esq{
        display: flex;
        flex-direction: column;
        width: 55%;
        height: 100%;
      
        
    }

    .Cima-Esq{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        width: 100%;
        height: 100%;
        gap: 10px;
        background-color: #d9d9d9;
        border-radius: 15px;
    }

    .ladoImg{
        width: 15%;
        height: 100%;
        box-shadow: 0px 0px 5px black;
    }

    .ImgPrincipal{
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 5px rgb(141, 141, 141);
        border-radius: 5px; 
        display: flex;
        align-items: center;
    }



    .ImgPrincipal img {
       width: 100%;
       border-radius: 10px;
       height: 100%;
    }

    .DesqProd{
        box-shadow: 0px 0px 5px black;
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }


    .DesqProd p{
        font-size: 18px;
    }

    .DesqProd h1{
        font-size: 33px;
    }

    .Dir .bancos img{
        height: 30px;
        margin: 5px;
    }




    .Meio-Esq{
        display: flex;
        justify-content: space-around;
        padding: 0px 20px;
        width: 100%;
        align-items: center;
        height: 15%;
        background-color: #d9d9d9;
        border-radius: 15px;
    }

    .Meio-Esq button{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        border-radius: 10px;
        border: 1px solid #000;
        width: 138px;
        height: 50px;
    }

    .Meio-Esq button:hover{
      background-color: #534f4f;
      font-size: 19px;
      border: #fff;
      color: #fff;
      transition: 0.4s;
    }

    .Fim-Esq{
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
        width: 100%;
        height: 15%;
        border-radius: 15px;
        background-color: #d9d9d9;
    }



    .Dir{
        width: 45%;
        height: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        background-color: #d9d9d9;
        padding: 15px;
        
    }

    .Dir>div:not(:last-child) {
        width: 80%;
        height: 45%;
    }

    .Dir>div:first-child{
        display:flex ;
        flex-direction: column;
        gap: 15px;
    }

    .Dir>div:first-child .Cubo-dir{
        height: 50%;
    }



    .Dir>div:not(:last-child,:first-child){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }




    

    
    .button1{
        width: 200px;
        height: 40px;
        background-color: #00C2FF;
        border-radius: 15px;
        border: none;
        margin: 10px 0px;
        color: #fff;
    }

    .button2{
        width: 200px;
        height: 40px;
        background-color: #00c3ff2d;
        border-radius: 15px;
        border: none;
        margin: 10px 0px;
        color: #fff;
    }


    .Dir button:hover{
        background-color: transparent;
        border: 1px solid black;
        transition: 0.5s;
        cursor: pointer;
        color: #000;
    }

    .Cubo-dir{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 25%;
        background-color: #fff;
        padding: 10px;
        border-radius: 15px;
    }


    .baixo-dir{
        width: 100%;
        height: 30%;
        background-color: white;
        border-radius: 15px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }

    .baixo-dir h2{
        font-size: 18px;
        text-align: center;
        color: #24d33b;
    }

    .baixo-dir h1{
        font-size: 18px;
    }

    .baixo-dir p{
        text-align: center;
    }


    .CompProd-f2{
        display: flex;
        flex-direction: column;
        background-color: #d9d9d9;
        height: 100vh;
        width: 100%;
        padding: 40px;
        
       
    }

    .infoPro .cima{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .infoPro .baixo{
        width: 100%;
        overflow-x: auto;
    }

    .infoPro .baixo h1{
        width: 100%;
    }


    .infoPro{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: 25px;
        background-color: #f0f2f3;
        height: 70px;
        padding: 10px 30px;
        font-size: 14px;
        overflow: hidden;
        
        
    }




    .infoPro.maior{
        transition: 0.5s;
        height: 100%;
    }


    .comen{
        margin-top: 30px;
        display: flex;
        width: 100%;
        border-radius: 25px;
        background-color: #f0f2f3;
        height: 607px;
    }


    .comen h1 {
        padding: 20px;
    }

    
    .line{
        width: 350px;
        height: 2px;
        background-color: white;
    }

    .line2{
        width: 500px;
        height: 2px;
        background-color: #fff;
    }
    
    .faixa-5{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        padding: 50px;

    }

    .cima-f5{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        font-size: 22px;
    }

    .cima-f5 h1{
        padding: 0px 10px;
    }



    @media (max-width: 720px){
        .Card{
            height: 100%;
            flex-direction: column;
        }

        .CompProd-f1{
            height: 1000px;
        }

        .Cubo-dir{
            height: 25%;
            padding: 10px;
            margin: 10px;
        }

        .button1{
            margin: 0;
          
        }

        .Dir .bancos img{
            height: 20px;
            margin: 5px;
        }

        .Dir{
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

        .Esq{
            width: 80%;
        }
    }










}