.compcarrinho{
    width: 70%;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    color: #888888;
    transition: 0.4s ease;
    box-shadow: none;
    border: solid 2px;

    .img{
      
        background-color: #fff;
        height: 80%;
        width: 20%;
        margin-left: 20px;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        .imagem{

            width: 100%;
            height: 100%;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }
    }
     .avaliacao{
             width: 50%;
             height: 80%;
             align-items: center;
             justify-content: center;
             display: flex;
             margin-left: 20px;
             flex-direction: column;
             
            
            

             .nome{
                font-size: 17px;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
                text-align: center;
            }

             .estrelas{
                width:150px;
                margin-top: 20px;
             }

            .promocao{
                font-size: 14px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                text-decoration: line-through;
                color: #555555;
            } 

            .preco_final{
                font-size: 18px;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: #000000;

            }
            
     }



     .right{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        
   
        .valores{
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: row;
            padding: 10px;
            background-color:#00C2FF;
            border-radius: 10px;
            color: #fff;
            transition: 0.4s ease;
        }
        .valores:hover{
            background-color: #fff;
            border: solid 1px;
            color: #000000;
            transition: 0.4s ;
        }

        .valor{
            padding: 10px;
            width: 50px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
           
            color: #333;
            border: solid 1px;
            margin-left: 5px;

        }
        .tirar{

            padding: 5px;
            border-radius: 10px;
            width: 150px;
            border: solid 2px;
            margin-top: 10px;
            background-color: #00C2FF;
            color: #fff;
            font-size: 16px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            cursor: pointer;
            transition: 0.4s ease;
        }

        .tirar:hover{

            background-color: #fff;
            border: solid 1px;
            color: #000000;
            transition: 0.4s ;
        }
     }

}  .compcarrinho:hover{
        width: 71%;
        height: 202px;
        border: solid 2px;
        transition: 0.4s ;
        box-shadow:  0 10px 10px rgba(160, 160, 160, 0.5); 
    }