* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.landingPage {

    .butt-landin-page {

        text-decoration: none;
    }

    .butt-landin-page:hover {

        text-decoration: none;
    }

    header {
        width: 100%;
        height: 100px;
        position: fixed;
        background-color: rgba(241, 241, 241, 0.582);
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: 0px 0px 15px 5px #d9d9d9;
    }

    header nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

    }

    .link-head {
        text-decoration: none;
        color: #1b1b1b;
        font-size: 12px;


    }

    .link-head:hover {


        color: #00C2FF;
        transition: 0.3s;

    }




    section {
        margin: 0px;
    }

    .f1 {
        height: 80vh;
        width: 100%;
        display: flex;
        padding: 50px;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: start;
        background-image: url('../../../../public/assets/images/backlandin.png');
        box-shadow: 0px 0px 50px #777;
        color: #383838;
    }




    .f1 div {
        width: 45%;
        padding: 20px 0;

    }

    .f1 h1 {
        font-size: 45px;
        line-height: 0.8;
        padding: 15px 0px;
        font-family: 'Fonte1';

    }

    .f1 p {
        font-size: 22px;
        padding: 15px 0px;
        color: #383838
    }

    .f1 button {
        padding: 15px 0px;
        width: 150px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        background-color: #00C2FF;
        border: none;
        color: white;
        transition: 0.7s ease;
        margin: 60px 0px;
    }

    .f1 button:hover {
        background-color: #3838389c;
        color: #d9d9d9;
        border: solid 1px #d9d9d9;
        transition: 0.7s;
        transform: translateX(5px)
    }

    .f2 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }

    .f2 h1 {
        font-size: 33px;
    }

    .f2 p {
        font-size: 22px;
    }

    .baixo-f2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 15px;

    }

    .baixo-f2 div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px;
        gap: 10px;
        color: black;
        width: 300px;
        height: 350px;
        border-radius: 15px;
        transition: 0.3s ease;
    }

    .baixo-f2 div h1 {
        font-size: 22px;
    }

    .baixo-f2 div p {
        font-size: 18px;
        text-align: center;
    }

    .baixo-f2 div:hover {
        width: 285px;
        height: 332.5px;
        box-shadow: 0px 0px 15px rgb(173, 173, 173);
        background-color: white;
        transition: 0.3s;
        background-color: #beb3b33d;

    }






    .f3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 50%;
        width: 100%;
        padding: 20px 150px;
    }

    .f3 div {
        width: 600px;
        height: 100%;
        display: flex;
        align-items: end;
        flex-direction: column;
        justify-content: space-between;
    }

    .f3 div h1 {
        font-size: 33px;
    }

    .f3 p {
        font-size: 22px;
        text-align: end;
    }

    .button {
        padding: 15px 0px;
        width: 150px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        background-color: #00C2FF;
        border: none;
        color: white;
        transition: 0.4s ease;
        margin: 10px 0px;
        cursor: pointer;
    }

    .button:hover {
        background-color: transparent;
        color: black;
        border: solid 1px black;
        transition: 0.4s;

    }

    .f4 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 50%;
        width: 100%;
        padding: 20px 150px;
        margin-top: 100px;
        background-color: #d9d9d9;
        box-shadow: 0px 0px 15px rgba(185, 185, 185, 0.733);
    }



    .butt-landin-page {
        cursor: default;
    }

    .f4 div {

        width: 600px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .f4 div h1 {
        font-size: 33px;
    }

    .f4 p {
        font-size: 22px;
    }


    .f5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70%;
        width: 100%;
        padding: 20px 150px;
        margin-top: 100px;

    }

    .f5 h1 {
        font-size: 33px;
    }

    .f5 p {
        font-size: 22px;
        text-align: center;
    }

    .f5 img {
        height: 300px;
    }









    @media(max-width: 720px) {

        header{
            width: 100%;
           
        }
      .f2{
        display: none;
      }

      .f1{
        padding: 20px 50px;
      }
      
      .f1 div{
        width: 60%
      }


      .f1 h1{
        font-size: 30px;
      }

      .f1 p{
        font-size: 18px;
        margin-top: -10px
      };

      .f3 {
        padding: 20px;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;


    }

    .f3 button{
        display: none;
    }

    .f3 div {
        width: 80%;
    }

    .f3 div h1 {
        font-size: 30px;
        width: 100%;
        text-align: center;
        padding: 10px;

    }

   

    .f3 div p{
        width: 100%;
    }


    .f3 p {
        text-align: center;
        font-size: 17px;
    }


    .f3 img {
        width: 200px;
    }

    
    .f4 {
        padding: 20px 0;
        flex-direction: column;
        align-items: center;
    }

    .f4 button {
        display: none
    }


    .f4 div {
        width: 80%
    }


    .f4 div h1 {
        font-size: 30px;
        width: 100%;
        text-align: center;
    }

    .f4 p {
        font-size: 18px;
        width: 100%;
        text-align: center;
    }

    .f4 img {
        width: 190px;
    }

    
    .f5 {
        padding: 0;
    }

    .f5 h1 {
        font-size: 30px;
    }

    .f5 p {
        font-size: 18px;
        width: 80%;
    }

    .f5 img {
        width: 350px;
    }

    }



    @media(max-width: 415px) {

        header {
            height: 50px;
            padding: 5px;
        }

        header nav {
            display: none;
        }

        header img {
            width: 50px;

        }


        header .menu {
            display: inline;
        }

        .f1 {
            height: 400px;
            justify-content: center;
            align-items: start;
            padding: 30px 0;

        }

        .f1 div {
            width: 100%;
            padding: 45px 30px;

        }

        .f1 p {
            font-size: 12px;
            width: 80%;
        }

        .f1 h1 {
            font-size: 22px;
            width: 80%;
        }

        .f1 button {

            display: none;
        }




        .f2 {
            display: none;
        }

        .f3 {
            flex-direction: column;
            align-items: center;
            padding: 40px 0px;


        }

        .f3 div {
            width: 80%;
            
        }

        .f3 div h1 {
            font-size: 22px;
            width: 100%;
            text-align: center;

        }

        .f3 button {
            display: none;
        }


        .f3 p {
            text-align: center;
            font-size: 12px;
        }


        .f3 img {
            width: 150px;
        }




        .f4 {
            padding: 20px 0;
            flex-direction: column;
            align-items: center;
            margin: 0;
        }

        .f4 button {
            display: none;
        }


        .f4 div {
            width: 80%
        }


        .f4 div h1 {
            font-size: 22px;
            width: 100%;
            text-align: center;
        }

        .f4 p {
            font-size: 12px;
            width: 100%;
            text-align: center;
        }

        .f4 img {
            width: 150px;
        }

        .f5 {
            padding: 0;
        }

        .f5 h1 {
            font-size: 22px;
        }

        .f5 p {
            font-size: 12px;
        }

        .f5 img {
            width: 250px;
        }



    }

}