

.landingPage{
    
    .butt-landin-page{

        text-decoration: none;
    }

    .butt-landin-page:hover{

        text-decoration: none;
    }
    
    header{
        width: 100%;
        height: 100px;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.863);
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: 0px 0px 15px 5px #d9d9d9;
    }

    header  nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        
    }

    .link-head{
        text-decoration: none;
        color: #1b1b1b;
        font-size: 12px;
        
    
    }

    .link-head:hover{
    
        
        color: #00C2FF;
        transition: 0.3s;
    
    }

    

    
    .f1{
        min-height: 80vh;
        height: 80vh;
        width: 100%;
        display: flex;
        padding: 50px;
        
        align-items: center;
        justify-content: space-around !important;
        
        
        box-shadow: 0px 0px 50px #777;
        color: #383838;




    }


    .texto2{

        display: flex;
        
        
        flex-direction: column;
        width: 500px;
        height: 275px;

    }

    .f1 div{
        width: 500px;
    }

    .imagemfaixa{

        display: flex;
        
        margin-bottom: -250px;

    }
    .f1 h1{
        font-size: 45px;
        width: 500px;
        line-height: 0.8;
        padding: 15px 0px;
        font-family: 'Fonte1';

    }

    .f1 img{

        width: 930px;
        height: 720px;
        transform: rotate(0deg);

        
        
    }

    .f1 p{
        font-size: 22px;
        padding: 15px 0px;
        
    }

    .f1 button{
        padding: 15px 0px;
        width: 150px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        background-color: #00C2FF;
        border: none;
        color: white;
        
        margin: 10px 0px;
    }

    .f1 button:hover{
        background-color: transparent;
        color: #d9d9d9;
        border: solid 1px #d9d9d9;
        transition: 0.7s;
        transform: translateX(5px)
    }

}




.f2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    }

.f2 h1{
    font-size: 33px;
}

.f2 p{
    font-size: 22px;
}

.baixo-f2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;

}

.baixo-f2 div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    color: black;
    width: 300px;
    height: 350px;
    border-radius: 15px;
}

.baixo-f2 div h1{
    font-size: 22px;
}

.baixo-f2 div p{
    font-size: 18px;
    text-align: center;
}

.baixo-f2 div:hover{
    width: 285px;
    height: 332.5px;
    box-shadow: 0px 0px 15px rgb(173, 173, 173);
    background-color: white;
    transition: 0.3s;
}






.f3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 100%;
    padding: 20px 150px;
}

.f3 div{
    width: 600px;
    height: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;
}

.f3 div h1{
    font-size: 33px;
}
.f3 p{
    font-size: 22px;
    text-align: end;
}

.button{
    padding: 15px 0px;
        width: 150px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        background-color: #00C2FF;
        border: none;
        color: white;
        
        margin: 10px 0px;
}

.button:hover{
    background-color: transparent;
    color: black;
    border: solid 1px black;
    transition: 0.3s;
}

.f4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 100%;
    padding: 20px 150px;
    margin-top: 100px;
    background-color: #d9d9d9;
    box-shadow: 0px 0px 15px rgba(185, 185, 185, 0.733);
}

.f4 div{
    
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.f4 div h1{
    font-size: 33px;
}
.f4 p{
    font-size: 22px;
}


.f5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    height: 70%;
    width: 100%;
    padding: 20px 150px;
    margin-top: 100px;

}

.f5 h1{
    font-size: 33px;
}

.f5 p{
    font-size: 22px;
    text-align: center;
}

.f5 img{
    height: 300px;
}







