.conteudoOption{


    .editarPerfil{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .inputs{
        display: flex;
        flex-direction: column;
        
        
    }

    .inputs > div input{
        margin: 10px;
        width: 200px;
        height: 35px;
        border-radius: 15px;
        border: 1px solid #00C2FF;
        outline: 0;
    }
}