.conteudoOption{
    

    .editarPerfil{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
       
    }

    .editarPerfil.abrir{
        display: flex;
    }

    .editarPerfil h1{
        font-size: 25px;
        padding-top: 20px;
        margin-bottom: 10px;
    }
    .line{
        width: 250px;
        margin-bottom: 20px;
    }

    .inputs{
        display: flex;
        
        padding: 20px 50px;
           
        
    }

    .inputs div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .inputs > div input{
        display: flex;
        flex-direction: column;
        margin: 10px;
        width: 300px;
        height: 35px;
        border-radius: 15px;
        border: 1px solid #00C2FF;
        outline: 0;
        padding: 10px;
    }


    .editarPerfil button{
        width: 200px;
        height: 35px;
        border: none; 
        border-radius: 15px;
        cursor: pointer;
        background-color: #00C2FF;
        color: #fff;
    }

    .editarPerfil button:hover{
        background-color: transparent;
        border: 1px solid black;
        color: black;
        transition: 0.4s;
    }



    ///////////////////////////////////////////////////////////////////////////////////////////////////////
    
    .senhaSeguranca{
        display: none;
        align-items: center;
        justify-content: center; 
        padding: 50px;
      
        
    }

    .senhaSeguranca.abrir{
        display: flex;
    }

    

    

    .senhaSeguranca h1{
        display: flex;
        font-size: 30px;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }

    .senhaSeguranca h2{
        display: flex;
        font-size: 23px;
        align-items: center;
        justify-content: center;

    }

    .meio{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        padding: 10px;
    }

    .meio div{
        width: 100%;
        background-color: #000;
        height: 1px;
        margin: 10px;
    }

    .bot{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        font-size: 20px;
        height: 37px;
        border: none; 
        border-radius: 15px;
        cursor: pointer;
        background-color: #00C2FF;
        color: #080808;
        
    }

    .senhaSeguranca input{
        width: 270px;
        display: flex;
        height: 35px;
        border-radius: 15px;
        margin: 10px;
        border: 1px solid #00C2FF;
        flex-direction: column;
        outline: 0;
        padding: 10px;
       
    }

   
   
    ///////////////////////////////////////////////////////////////////////////////////////////////////////
    
    .notificacao{
        display: none;
    }
    .notificacao.abrir{
        display: flex;
    }




   

    
}