.conteudoOption {

    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;




    .headerPerfil {
        width: 100%;

        background-color: #ddd6d6;
        display: none;
        margin-top: -100px;
        margin-bottom: 100px;
    }


    @media (max-width: 415px) {
        .headerPerfil {
            display: flex;
        }

        .headerPerfil h1{
            font-size: 20px;
            color: black;
        }
    }


    .editarPerfil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;

    }

    .barrinhaAzul {
        width: 10px;
        height: 30px;
        background-color: #00C2FF;
    }

    .editarPerfil.abrir {
        display: flex;

        .editarPerfil h1 {
            font-size: 25px;
            padding-top: 20px;
            margin-bottom: 10px;
        }

        .line {
            width: 250px;
            margin-bottom: 20px;
        }

        .inputs {
            display: flex;

            padding: 20px 50px;


        }

        .inputs div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        .inputs>div input,
        p {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 10px;
            width: 300px;
            height: 35px;
            border-radius: 15px;
            border: 1px solid #00C2FF;
            outline: 0;
            padding: 10px;
        }


        button {
            width: 200px;
            height: 35px;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            background-color: #00C2FF;
            color: #fff;
        }

        button:hover {
            background-color: transparent;
            border: 1px solid black;
            color: black;
            transition: 0.4s;
        }




        @media(max-width: 720px) {

            .inputs>div input,
            p {
                width: 210px;
            }

            .inputs {
                padding: 20px 30px;
            }



        }


        @media(max-width: 415px) {

            .inputs>div:first-child {
                display: none;
            }


        }






    }




    ///////////////////////////////////////////////////////////////////////////////////////////////////////





    ///////////////////////////////////////////////////////////////////////////////////////////////////////

    .notificacao {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    }



    .notificacao.abrir {
        display: flex;



        .imagemPedido {
            width: 25% !important;
            height: 100%;


            display: flex;
            align-items: center;
            justify-content: center;
        }

        .PedidoImagem {
            width: 110px;
            height: 100px;
        }

        .pedidos {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 450px;
            width: 100%;
            overflow-x: auto;
            scroll-behavior: smooth;

        }


        .cardPedi {

            margin-top: 20px;

            width: 80%;

            height: 200px;
            padding: 15px;
            box-shadow: 0px 0px 10px #9b9b9b;
            background-color: #e7e7e7;
            border-radius: 10px;
            gap: 10px;
            display: flex;
            flex-direction: column;
        }

        .cardPedi .cima {
            display: flex;
            height: 20%;
            justify-content: space-between;

        }

        .andamentoDetalhes {

            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20px;

        }



        .VerDetalhes {

            display: flex;
            margin-top: 15px;
            align-items: center;
            justify-content: center;

            border: #00C2FF 1px solid;
            border-radius: 5px;
            width: 150px !important;
            height: 30px;
            background-color: #00C2FF;
            color: white;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            cursor: pointer;
        }

        .informacoesPedidosDatas {

            display: flex;
            align-items: center;

            gap: 10px;
        }

        .subcard {
            width: 100%;
            height: 80%;
            border-radius: 10px;
            background-color: #fff;
            padding: 15px;
            display: flex;
        }


        .subcard div:first-child {
            width: 25%;
            height: 100%;
        }

        .subcard .infoPedi {
            width: 75%;
            height: 100%;
            display: flex;
            justify-content: space-between;
        }

        .subcard .infoPedi div {
            width: 100%;
        }



        .subcard .infoPedi h1 {
            font-size: 18px;
        }


        @media(max-width:720px) {

            .imagemPedido {
                width: 100% !important;
            }

            .cardPedi {
                height: 500px;
            }

            .subcard {
                flex-direction: column;

            }

            .cardPedi .infoPedi {
                padding: 10px 0px;
                width: 100%;
                display: flex;
                justify-content: space-between;
            }


            .subcard .infoPedi h1 {
                font-size: 14px;
            }


            .VerDetalhes {
                width: 100%;
            }

            .andamentoDetalhes {
                margin-left: 10px;
            }
        }


        @media(max-width:415px) {



            .subcard {
                height: 350px;

            }

            .esquerdo {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

            }

            .esquerdo p {
                text-align: center;
            }

            .cardPedi .infoPedi {
                padding: 10px 0px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                justify-content: space-between;
            }

            p {
                display: flex;
            }
        }





    }







    .direita {

        overflow-y: auto;
    }


    .direita::-webkit-scrollbar {
        width: 5px;
    }

    .direita::-webkit-scrollbar-track {
        background: #f1f1f1;
        width: 10px;
    }

    .direita::-webkit-scrollbar-thumb {
        background: #b9b9b9;
        border-radius: 10px;
    }

    .direita::-webkit-scrollbar-thumb:hover {
        background: #bebebe;
    }

}