.conteudoOption {

    width: 100%;

    .editarPerfil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;

    }

    .barrinhaAzul{
        width: 10px;
        height: 30px;
        background-color:#00C2FF;
    }

    .editarPerfil.abrir {
        display: flex;

        .editarPerfil h1 {
            font-size: 25px;
            padding-top: 20px;
            margin-bottom: 10px;
        }

        .line {
            width: 250px;
            margin-bottom: 20px;
        }

        .inputs {
            display: flex;

            padding: 20px 50px;


        }

        .inputs div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        .inputs>div input,
        p {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 10px;
            width: 300px;
            height: 35px;
            border-radius: 15px;
            border: 1px solid #00C2FF;
            outline: 0;
            padding: 10px;
        }


        .editarPerfil button {
            width: 200px;
            height: 35px;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            background-color: #00C2FF;
            color: #fff;
        }

        .editarPerfil button:hover {
            background-color: transparent;
            border: 1px solid black;
            color: black;
            transition: 0.4s;
        }


    }




    ///////////////////////////////////////////////////////////////////////////////////////////////////////

    .senhaSeguranca {
        display: none;
        align-items: center;
        justify-content: center;
        padding: 50px;


    }

    .senhaSeguranca.abrir {
        display: flex;
    }





    .senhaSeguranca h1 {
        display: flex;
        font-size: 30px;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }

    .senhaSeguranca h2 {
        display: flex;
        font-size: 23px;
        align-items: center;
        justify-content: center;

    }

    .meio {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        padding: 10px;
    }

    .meio div {
        width: 100%;
        background-color: #000;
        height: 1px;
        margin: 10px;
    }

    .bot {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        font-size: 20px;
        height: 37px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        background-color: #00C2FF;
        color: #080808;

    }

    .senhaSeguranca input {
        width: 270px;
        display: flex;
        height: 35px;
        border-radius: 15px;
        margin: 10px;
        border: 1px solid #00C2FF;
        flex-direction: column;
        outline: 0;
        padding: 10px;

    }



    ///////////////////////////////////////////////////////////////////////////////////////////////////////

    .notificacao {
        display: none;
    }

    

    .notificacao.abrir {
        display: flex;
        width: 100%;

        justify-content: center;
        height: 90vh;
        overflow-y: auto;

        .pedidos {
            
            margin-bottom: 20px;
        }


        .imagemPedido {
            width: 130px !important;
            height: 110px;


            display: flex;
            align-items: center;
            justify-content: center;
        }

        .PedidoImagem {
            width: 110px;
            height: 100px;
        }


        .cardPedi {

            margin-top: 20px;
            
            width: 800px;
            
            height: 200px;
            padding: 15px;
            box-shadow: 0px 0px 10px #9b9b9b;
            background-color: #e7e7e7;
            border-radius: 10px;
            gap: 10px;
            display: flex;
            flex-direction: column;
        }

        .cardPedi .cima{
            display: flex;
            height: 20%;
            justify-content: space-between;
            
        }

        .andamentoDetalhes {
            
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20px;

        }



        .VerDetalhes {
            
            display: flex;
            margin-top: 30px;
            align-items: center;
            justify-content: center;

            border: #00C2FF 1px solid;
            border-radius: 5px;
            width: 60% !important;
            height: 30px;
            background-color: #00C2FF;
            color: white;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            cursor: pointer;
        }

        .informacoesPedidosDatas{
            
            display: flex;
            align-items: center;

            gap: 10px;
        }

        .subcard{
            width: 100%;
            height: 80%;
            border-radius: 10px;
            background-color: #fff;
            padding: 15px;
            display: flex;
        }


        .subcard div:first-child{
            width: 25%;
            height: 100%;
        }

        .subcard .infoPedi{
            width: 75%;
            height: 100%;
            display: flex;
            justify-content: space-between;
        }

        .subcard .infoPedi div{
            width: 100%;
        }

        .subcard .infoPedi div:last-child h1{
           
        }

        .subcard .infoPedi h1{
            font-size: 18px;
        }

        
        


    }







    .direita {

        overflow-y: auto;
    }


    .direita::-webkit-scrollbar {
        width: 5px;
    }

    .direita::-webkit-scrollbar-track {
        background: #f1f1f1;
        width: 10px;
    }

    .direita::-webkit-scrollbar-thumb {
        background: #b9b9b9;
        border-radius: 10px;
    }

    .direita::-webkit-scrollbar-thumb:hover {
        background: #bebebe;
    }

}