.pageHome{


    .nav-cabe{
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        justify-content: space-around;
        background-color: #d9d9d9;
    }

    .nav-cabe select{
        border: 1px solid #d9d9d9;
        background-color: transparent;
        outline: 0;
    }

    .nav-cabe select:hover{
        text-decoration: underline;
        cursor: pointer;
    }


    .f1{
        padding: 50px;
        width: 100%;
        height: 100%;
        background-color: #777;
    }





    .slider{
        margin: 0 auto;
        width: 90%;
        height: 250px;
        overflow: hidden;
        border-radius: 45px;
    }

    .slides{
        width: 400%;
        height: 250px;
        display: flex;

    }

    .slides input {
        display: none;
    }

    .Slide{
        width: 25%;
        position: relative;
        transition: 3s;
        
    }

    .Slide img{
        width: 100%;
    }

    .manual-navegation{
        position: absolute;
        width: 90%;
        margin-top: -20px;
        display: flex;
        justify-content: center;
    }

    .manual-btn{
        border: 2px solid #00C2FF;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s;
    }

    .manual-btn:not(:last-child){
        margin-right: 15px;
    }

    .manual-btn:hover{
        background-color: #fff;
    }

    #radio1:checked ~ .first{
        margin-left:0;
    }
    
    #radio2:checked ~ .first{
        margin-left: -25%;
    }
    
    #radio3:checked ~ .first{
        margin-left: -50%;
    }
    
    #radio4:checked ~ .first{
        margin-left: -75%;
    }
    
    


    .navegation-auto div{
        border: 2px solid blue;
        padding: 5px;
        border-radius: 10px ;
        cursor: pointer;
        transition: 0.5s;
    }

    .navegation-auto{
        position: absolute;
        width: 90%;
        margin-top: 230px;
        display: flex;
        justify-content: center;
    }

    .navegation-auto div:not(:last-child){
        margin-right: 15px;
    }

    #radio1:checked ~ .navegation-auto .auto-btn1{
        background-color: #fff;
    }

    #radio2:checked ~ .navegation-auto .auto-btn2{
        background-color: #fff;
    }

    #radio3:checked ~ .navegation-auto .auto-btn3{
        background-color: #fff;
    }

    #radio4:checked ~ .navegation-auto .auto-btn4{
        background-color: #fff;
    }


    .f2{
        display: flex;
        justify-content: center;
        width: 100%;

    }

    .f2 div{
        padding: 5px;
    }

    hr{
        background-color: black;
        width: 350px;
        height: 3px;
        margin: 10px;
    }

    .f2 div img{
        cursor: pointer;
        
    }

    .img-end-end{
        border: 1px solid red;
        border-bottom-left-radius: 1000px;
    }

    .img-end-start:hover{
        position: absolute;
        width: 500px;
        transition: 0.5s;

    }


    .img-start-center{
        margin-left: -230px;
        margin-right: 0px;
        border: 1px solid red;
        border-bottom-left-radius: 1000px;
    }

    .img-end-center{
        margin-left: 0px ;
        margin-right: -230px ; 
    }


    .f2 img{
        width: 350px;
        height: 200px;
    }

    .f3{
        width: 100%;
        height: 450px;
        padding: 50px;
        background-color: #777;
        display: flex;
        flex-direction: column;

    }

    .cima-f3{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
    }

    .line{
        width: 350px;
        height: 2px;
        background-color: white;
    }

    .f3 h1{
        padding: 0px 10px;
        font-size: 33px;
    }

    .line2{
        width: 500px;
        height: 2px;
        background-color: white;
    }


    .faixa-4{
        width: 100%;
        height: 300px;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7D4-Nxy9gi3_2NFcdbL3fBNqyk_olt0zNsQ&usqp=CAU');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        padding: 50px;
    }

    .left-f4{
        width: 550px;
        font-size: 33px;
        color: #fff;
    }


    .right-f4{
        display: flex;
        align-items: end;
        justify-content: end;
    }

    .right-f4 button{
        width: 200px;
        height: 40px;
        background-color: #00C2FF;
        border: none;
        color: white;
        font-size: 18px;
        border-radius: 15px;
    }

    .right-f4 button:hover{
        background-color: transparent;
        border: 1px #00C2FF solid;
        color: #00C2FF;
        transition: 0.5s;
        cursor: pointer;


    }


    .faixa-5{
        display: flex;
        flex-direction: column;
        background-color: #777;
        width: 100%;
        height: 450px;
        padding: 50px;

    }

    .cima-f5{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        font-size: 22px;
    }

    .cima-f5 h1{
        padding: 0px 10px;
    }

    .f6{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 35px;
        width: 100%;
        height: 120px;
        background-color: #d9d9d9;   
    }

    .esq-f6{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .text-f6{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-f6 hr{
        width: 200px;
        height: 4px;
        background-color: black;
    }
    

    .dir-f6{
        width: 550px;
        display: flex ;
        align-items: center;
        justify-content: space-between;
    }

    .dir-f6 input{
        width: 350px;
        height: 40px;
        background: white;
        padding: 0px 15px;
        display: flex;
        outline: 0;
        border: 1px solid black;
        border-radius: 15px;

        
    }

    .dir-f6 button{
        width: 150px;
        border: none;
        background-color: #00C2FF;
        height: 40px;
        border-radius: 15px;
        color: #fff;
    }

    .dir-f6 button:hover{
        background-color: transparent;
        border:1px solid #000;
        color: #000;
        transition: 0.5s;
   
    }






    








    


    


}
