.page-add-cartao{

    justify-content: center;
    align-items: center;
    display: flex;
    
    
        .card{
            margin-top: 50px;
            width: 485px;
            height: 510px !important;
            background-color: black;
            border-radius: 49px;
    
            align-items: center;
            display: flex;
            flex-direction: column;
    
            .titulo{
                margin-top: 15px;
    
    
    
            }
                .sair{
                    font-size: 19px;
                    color: aliceblue;
                    margin-left: 350px;
                    margin-bottom: 15px;
                }
                .forma{
                    font-size: 19px;
                    color: aliceblue;
                    margin-left: 10px;
    
                   }
                   .linha{
                    margin-top: 10px;
                    height: 0.1px;
                    width: 100%;
                    background-color: aliceblue;
                   }
    
    
    
                   .subcard{
                    width: 425px;
                    height: 370px !important;
                    margin-top: 20px;
                    background-color: #9999;
                    border-radius: 29px;
                    display: flex;
                    align-items: start;
                    display: flex;
                    flex-direction: column;
                    border: solid 2px ;
                    color: aliceblue;
    
                        .subtitulo{
                            margin-left: 15px;
                            margin-top: 20px;
                            font-size: 13px;
                            color: aliceblue;
                            margin-bottom: 10px;
                            
                            }
                            .cartao{

                                width: 390px;
                                height: 35px;
                                border-radius: 10px;
                                margin-left: 10px;
                                border: none;
                                text-decoration:none ;
                                font-size: 20px;
                            }
                            .labelzim{
                                flex-direction: row;
                                display: flex;
                                margin-left: 10px;
                                margin-top: 10px;


                                    .testinho{
                                        color: black;
                                        background-color: #ffffff;
                                        font-size: 13px;
                                        width: 160px;
                                        height: 35px;
                                        align-items: center;
                                        justify-content: center;
                                        display: flex;
                                        border-top-left-radius: 10px;
                                        border-bottom-left-radius: 10px;
                                    }
                                    .numero_parcela{
                                        background-color: #fff;
                                        width: 40px;
                                        height: 35px;
                                        border: none;
                                        border-style: none;
                                        border-top-right-radius: 10px;
                                        border-bottom-right-radius: 10px;
                                        font-size: 15px;
                                        color: #4e4e4e;
                                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                        border-top-left-radius: 0px;
                                        border-bottom-left-radius: 0px;
                                        margin-left: 0px;
                                    }
                            }

                        .cadastrar{
                            
                            width: 150px;
                            height: 40px;
                            background-color: #00C2ff;
                            font-size: 12px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #e9e9e9;
                            margin-left: 60px;
                            margin-top: 20px;
                            border-radius: 10px;
                            border: none;
                            transition: 0.5s ease;

                        }

                        .cadastrar:hover{
                            transition: 0.5s;
                            background-color: #3f3f3f59;
                            color: #ffffff;
                            border: solid 2px;
                            cursor: pointer;

                        }

                        .dd{
                            flex-direction: row;
                            display: flex;
                            align-items: center;
                            margin-top: 20px;
                            margin-left: 10px;
                            

                        .divisinha{
                            height: 1px;
                            width: 140px;
                            margin: 5px;
                            background-color: #e9e9e9;
                        }
                        .outras{
                            font-size: 18px;
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        }
                        }
    
                .baixo{
                        align-items: center;
                        justify-content: center;
                        display: flex;
                        margin-top: 10px;
                      
                        font-size: 15px;
                        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        gap: 20px;
                    
                        div{
                        align-items: center;
                        justify-content: center;
                        display: flex;
                        cursor: pointer;
                            }

                        img{

                            height: 40px;
                            width: 55px;
                            background: #fff;
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;
                            border: none;
                        }

                    .pix{
                        height: 40px;
                        width: 55px;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        border: none;
                        background-color: #fff;
                        

                    }

                    .boleto{
                        height: 40px;
                        width: 55px;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        border: none;
                        background-color: #fff;
                        margin-left: 20px;

                    }
                   

                }
    
                .ultima{
                    align-items:center;
                    justify-content:center;
                    display: flex;
                  
                    

                        .total{
                            padding: 0px;
                            font-size: 17px;
                            margin-left: 30px;
                            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        }
                        .valor{

                            margin-right: 110px;
                        }
                }

    
    
    
    
         }}}
    