.principal{

    background-color: rgb(0, 0, 0);
    border: 0px;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: row;
    

    LoadingBar{
        
        width: 100%;
        color: #12adf9;
    
    }

    .form-entrar{
        color: red;
        margin-top: 10px;
    
    }

    .subprincipal{
        height: auto;
        width: 720px;
        background-color: #0E0D10;
        align-items: center;
        display: flex;
        flex-direction: row;
      
        display: flex;
        flex-direction: column;
        

        .imgtoth{
            margin-top: 20px;

        }        

        .barra{ 
            font-size: 18px;
            color: aliceblue;
            display: flex;
            align-items: center;
            justify-content: start;
            margin-top: 30px;
            padding: 10px;
            width: 330px;
            height: 50px;
            background-color: #0E0D10;
            border-radius: 8px;
            border:solid 1px  rgb(255, 255, 255);
        }

        

        .logar{
            margin-top: 60px;
            width: 260px;
            height: 41px;
            background-color: #0E0D10;
            border-radius: 8px;
            border:solid 1px  rgb(255, 255, 255);
            align-items: center;
            justify-content: center;
            color: #ffffff;
            display: flex;
        }



        .esqueceu{
            margin-top: 5px;
            color: #595959;
            text-decoration:underline;
            
        }


            }

      

            .comp{
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;

            .linha{
                
                margin-left: 7px;
                margin-right: 7px;
                width: 320px;
                height: 1px;
                background-color: #ffffff;
            }
            
            .ou{ 
                font-size: 30px;
                color: #ffff;
            }
            } 

            .criar{
                margin-top: 30px;
                text-decoration: none;
                width: 260px;
                height: 41px;
                
                border-radius: 8px;
                border:solid 1px  rgb(255, 255, 255);
                align-items: center;
                justify-content: center;
                color: #ffffff;
                display: flex;
            }




}






            .compmeio{
                
                
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

            .linhameio {
           
                width: 1px;
                height: 100%;
                background-color: #ffffff;
            }

            .imgmeio{
                position: absolute;
                filter: grayscale(1);
                filter: brightness(10);
            }
        }






  .subprincipalimg{
                    
                height: auto;
                width: 100%;
                
                
            }


    .subprincipalimg > img{
        width: 100%;
        height: auto;
    
    }
