.principal{

    background-color: rgb(0, 0, 0);
    border: 0px;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: row;
    

    LoadingBar{
        
        width: 100%;
        color: #12adf9;
    
    }

    .form-entrar{
        color: red;
        margin-top: 10px;
    
    }

    .subprincipal{
        height: auto;
        width: 100%;
        background-color: #0E0D10;
        align-items: center;
        display: flex;
        flex-direction: row;
        display: flex;
        flex-direction: column;
        gap: 10px; 

        .imgtoth{
            margin-top: 20px;
            padding: 15px;
        } 
        
        .inputbox{
            position: relative;
            padding: 20px 0;
        }

        .inputbox label{
            position: absolute;
            top: 17%;
            left: 17px;
            transform: translateY(100%);
            font-size: 16px;
            color: #ffffff;
            padding: 0 5px;
            pointer-events: none;
            transition: .6s;
        }

        .inputbox input{
            width: 400px;
            height: 60px;
            font-size: 16px;
            color: #ffffff;
            padding: 0 15px;
            background: transparent;
            border: 1.2px solid #ffffff;
            outline: none;
           
            border-radius: 10px;
        }

        .inputbox input:focus~label,
        .inputbox input:valid~label{
            top: 0;
            color: #12adf9;
            font-size: 12px;
            background:#0E0D10;
            
          
        }

        .inputbox input:focus,
        .inputbox input:valid{
            border: 1px solid #12adf9;
            transition: 0.7s;
        }



        

        .logar{
            
            width: 260px;
            height: 45px;
            background-color: #0E0D10;
            border-radius: 8px;
            border:solid 1px  rgb(255, 255, 255);
            align-items: center;
            font-size: 17px;
            justify-content: center;
            color: #ffffff;
            display: flex;
        }

        .logar:hover{
            color: #12adf9;
            border: 3px solid #12adf9;
            transition: 1.2s;
        }



        .esqueceu{
            margin-top: 5px;
            color: #595959;
            text-decoration:underline;
            
        }


            }

      

            .comp{
                margin-top: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                background: transparent;

                

            .linha{
                
              
                width: 300px;
                height: 1px;
                background-color: #ffffff;
            }
            
            .ou{ 
                font-size: 30px;
                color: #ffff;
            }
            } 

            .criar{
               
                text-decoration: none;
                width: 260px;
                height: 45px;
                
                border-radius: 8px;
                border:solid 1px  rgb(255, 255, 255);
                align-items: center;
                justify-content: center;
                color: #ffffff;
                display: flex;
            }

            .criar:hover{
                color: #12adf9;
                border: 3.5px solid #12adf9;
                transition: 1.2s;
                cursor: pointer;
            }




}






            .compmeio{
                
                
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

            .linhameio {
           
                width: 1px;
                height: 100%;
                background-color: #ffffff;
            }

            .imgmeio{
                position: absolute;
                filter: grayscale(1);
                filter: brightness(10);
            }
        }






  .subprincipalimg{
                    
                height: auto;
                width: 100%;
                
                
            }


    .subprincipalimg > img{
        width: 100%;
        height: auto;
    
    }
